@mixin bounceOut( $selector, $animation: $default-animation ){
    @if($animation == '' or $animation == 'default'){ $animation: $default-animation }
    $animation-name: "bounceOut";
    $animation-name: remove_chars($animation-name, ("." ","), "_");

    @include create-animation($selector, $animation-name, $animation){
        @-webkit-keyframes #{$animation-name}{
            0% {
                -webkit-transform: scale(1);
                        transform: scale(1);
            }

            25% {
                -webkit-transform: scale(.95);
                        transform: scale(.95);
            }

            50% {
                opacity: 1;
                -webkit-transform: scale(1.1);
                        transform: scale(1.1);
            }

            100% {
                opacity: 0;
                -webkit-transform: scale(.3);
                        transform: scale(.3);
            }
        }
        @keyframes #{$animation-name}{
            0% {
                -webkit-transform: scale(1);
                    -ms-transform: scale(1);
                        transform: scale(1);
            }

            25% {
                -webkit-transform: scale(.95);
                    -ms-transform: scale(.95);
                        transform: scale(.95);
            }

            50% {
                opacity: 1;
                -webkit-transform: scale(1.1);
                    -ms-transform: scale(1.1);
                        transform: scale(1.1);
            }

            100% {
                opacity: 0;
                -webkit-transform: scale(.3);
                    -ms-transform: scale(.3);
                        transform: scale(.3);
            }
        }
    }
}
