@mixin rotateInDownRight( $animation: $default-animation, $rotate_angle: 90deg ){
    @if($animation == '' or $animation == 'default'){ $animation: $default-animation }
    $animation-name: "rotateInDownRight";
    $animation-name: remove_chars($animation-name, ("." ","), "_");

    @include create-animation($animation-name, $animation){
        @-webkit-keyframes #{$animation-name}{
            0% {
                -webkit-transform-origin: right bottom;
                        transform-origin: right bottom;

                -webkit-transform: rotate($rotate_angle);
                        transform: rotate($rotate_angle);

                opacity: 0;
            }

            100% {
                -webkit-transform-origin: right bottom;
                        transform-origin: right bottom;

                -webkit-transform: rotate(0);
                        transform: rotate(0);

                opacity: 1;
            }
        }
        @keyframes #{$animation-name}{
            0% {
                -webkit-transform-origin: right bottom;
                    -ms-transform-origin: right bottom;
                        transform-origin: right bottom;

                -webkit-transform: rotate($rotate_angle);
                    -ms-transform: rotate($rotate_angle);
                        transform: rotate($rotate_angle);

                opacity: 0;
            }

            100% {
                -webkit-transform-origin: right bottom;
                    -ms-transform-origin: right bottom;
                        transform-origin: right bottom;

                -webkit-transform: rotate(0);
                    -ms-transform: rotate(0);
                        transform: rotate(0);

                opacity: 1;
            }
        }
    }
}
