// /*------------------------------------*\
//     Fading exits
// \*------------------------------------*/

// **
// * Use: @include flip($animation, $flip_perspective, $flip_translateZ)
// * $flip_perspective: 400px by default
// * $flip_translateZ : 150px by default
// */
@import "flip";

// **
// * Use: @include flipInX($animation, $flip_perspective)
// * $flip_perspective: 400px by default
// */
@import "flipInX";

// **
// * Use: @include flipInY($animation, $flip_perspective)
// * $flip_perspective: 400px by default
// */
@import "flipInY";

// **
// * Use: @include flipOutX($animation, $flip_perspective)
// * $flip_perspective: 400px by default
// */
@import "flipOutX";

// **
// * Use: @include flipOutY($animation, $flip_perspective)
// * $flip_perspective: 400px by default
// */
@import "flipOutY";