@mixin flipInY( $selector, $animation: $default-animation, $flip_perspective: 400px ){
    @if($animation == '' or $animation == 'default'){ $animation: $default-animation }
    $animation-name: "flipInY-" + $flip_perspective;
    $animation-name: remove_chars($animation-name, ("." ","), "_");

    @include create-animation($selector, $animation-name, $animation){
        @-webkit-keyframes #{$animation-name}{
            0% {
                -webkit-transform: perspective($flip_perspective) rotateY(90deg);
                        transform: perspective($flip_perspective) rotateY(90deg);
                opacity: 0;
            }

            40% {
                -webkit-transform: perspective($flip_perspective) rotateY(-10deg);
                        transform: perspective($flip_perspective) rotateY(-10deg);
            }

            70% {
                -webkit-transform: perspective($flip_perspective) rotateY(10deg);
                        transform: perspective($flip_perspective) rotateY(10deg);
            }

            100% {
                -webkit-transform: perspective($flip_perspective) rotateY(0deg);
                        transform: perspective($flip_perspective) rotateY(0deg);
                opacity: 1;
            }
        }
        @keyframes #{$animation-name}{
            0% {
                -webkit-transform: perspective($flip_perspective) rotateY(90deg);
                    -ms-transform: perspective($flip_perspective) rotateY(90deg);
                        transform: perspective($flip_perspective) rotateY(90deg);
                opacity: 0;
            }

            40% {
                -webkit-transform: perspective($flip_perspective) rotateY(-10deg);
                    -ms-transform: perspective($flip_perspective) rotateY(-10deg);
                        transform: perspective($flip_perspective) rotateY(-10deg);
            }

            70% {
                -webkit-transform: perspective($flip_perspective) rotateY(10deg);
                    -ms-transform: perspective($flip_perspective) rotateY(10deg);
                        transform: perspective($flip_perspective) rotateY(10deg);
            }

            100% {
                -webkit-transform: perspective($flip_perspective) rotateY(0deg);
                    -ms-transform: perspective($flip_perspective) rotateY(0deg);
                        transform: perspective($flip_perspective) rotateY(0deg);
                opacity: 1;
            }
        }
    }
}
