@mixin fadeOut( $animation: $default-animation ){
    @if($animation == '' or $animation == 'default'){ $animation: $default-animation }
    $animation-name: "fadeOut";
    $animation-name: remove_chars($animation-name, ("." ","), "_");

    @include create-animation($animation-name, $animation){
        @-webkit-keyframes #{$animation-name}{
            0% {opacity: 1; }
            100% { opacity: 0; }
        }
        @keyframes #{$animation-name}{
            0% {opacity: 1; }
            100% { opacity: 0; }
        }
    }
}
