@mixin wobble( $animation: $default-animation, $nb_wobbles : 2, $wobble_translate: 25%, $wobble_rotate: 5deg ){
    @if($animation == '' or $animation == 'default'){ $animation: $default-animation }
    $animation-name: "wobble" + $nb_wobbles + "-" + $wobble_translate + "-" + $wobble_rotate;
    $animation-name: remove_chars($animation-name, ("." ","), "_");
    
    $steps: $nb_wobbles * 2 + 3;
    $step_value: 100/($steps - 1);
    $step_translate_value: $wobble_translate / ( ( $nb_wobbles * 2 ) + 1 );
    $step_rotate_value: $wobble_rotate / ( ( $nb_wobbles * 2 ) + 1 );

    @include create-animation($animation-name, $animation){
        @-webkit-keyframes #{$animation-name} {
            @for $i from 0 through ($steps - 1) {
                $sign: '-';
                @if( $i % 2 == 0 ){ $sign: ''; }

                #{$i * $step_value * 1%}{
                    @if( $i == 0 or $i ==  ($steps - 1)){
                        -webkit-transform: translateX(0%) rotate(0deg);
                                transform: translateX(0%) rotate(0deg);
                    }
                    @else{
                        -webkit-transform:
                                    translateX(#{$sign}#{$wobble_translate - ( ($i - 1) * $step_translate_value )})
                                    rotate(#{$sign}#{$wobble_rotate - ( ($i - 1) * $step_rotate_value )});

                                transform:
                                    translateX(#{$sign}#{$wobble_translate - ( ($i - 1) * $step_translate_value )})
                                    rotate(#{$sign}#{$wobble_rotate - ( ($i - 1) * $step_rotate_value )});
                    }
                }
            }
        }

        @keyframes #{$animation-name} {
            @for $i from 0 through ($steps - 1) {
                $sign: '-';
                @if( $i % 2 == 0 ){ $sign: ''; }

                #{$i * $step_value * 1%}{
                    @if( $i == 0 or $i ==  ($steps - 1)){
                        -webkit-transform: translateX(0%) rotate(0deg);
                            -ms-transform: translateX(0%) rotate(0deg);
                                transform: translateX(0%) rotate(0deg);
                    }
                    @else{
                        -webkit-transform:
                                    translateX(#{$sign}#{$wobble_translate - ( ($i - 1) * $step_translate_value )})
                                    rotate(#{$sign}#{$wobble_rotate - ( ($i - 1) * $step_rotate_value )});

                            -ms-transform:
                                    translateX(#{$sign}#{$wobble_translate - ( ($i - 1) * $step_translate_value )})
                                    rotate(#{$sign}#{$wobble_rotate - ( ($i - 1) * $step_rotate_value )});

                                transform:
                                    translateX(#{$sign}#{$wobble_translate - ( ($i - 1) * $step_translate_value )})
                                    rotate(#{$sign}#{$wobble_rotate - ( ($i - 1) * $step_rotate_value )});
                    }
                }
            }
        }
    }
}
